body {
  background: #f5f5f5; }

/*
Forces carousel image to be 100% width and not max width of 100%
*/
.navbar .nav-item {
  margin: 0.5px 1rem;
  font-family: "Roboto", sans-serif;
  text-align: left; }

.collapse in {
  background: red !important; }

.carousel-item .img-fluid {
  margin-top: 3.5rem;
  width: 100%;
  height: 100%; }
.carousel-item .img-fluid {
  max-width: 100%;
  height: auto; }
.carousel-item .carousel-caption {
  color: #333; }

/* SIDEBAR HERE*/
/* Profile container */
.profile {
  margin: 1rem 0; }
  .profile .border {
    background: #fff; }

/* Profile sidebar */
.profile-sidebar {
  padding: 2rem 0 1rem 0;
  background: #fff; }

.profile-userpic img {
  float: none;
  height: 50%;
  width: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.profile-usermenu {
  margin-top: 30px;
  font-size: 0.8rem; }
  .profile-usermenu ul li a {
    display: block;
    text-decoration: none;
    margin: 0.3rem 0;
    color: #424242; }
  .profile-usermenu li {
    margin: 0.3rem 0; }
  .profile-usermenu li.active {
    text-decoration: none;
    color: #6d6d6d !important;
    background-color: #e0e0e0;
    border-left: 5px solid #6d6d6d; }
  .profile-usermenu li:hover {
    background-color: #e0e0e0; }

.mocash {
  background: #fff; }

.title {
  font-size: 2rem; }

.subtitle {
  font-size: 0.5rem; }

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px; }

.body-content body {
  padding: 100px 0;
  background-color: #efefef; }
.body-content a,
.body-content a:hover {
  color: #333; }
.body-content i {
  cursor: pointer; }

/* TABLE */
.table-content {
  font-size: 0.7rem; }
  .table-content tbody > tr:first-child > td {
    border: none; }

/* Button Notification */
.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50%; }

.icon-button__badge {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; }
