.floating-button{
  width:70px;
  display:block;
  text-align:center;
  margin-bottom:20px;
}
.floating-button:hover{
  text-decoration: none;
}
.floating-button-image-container {
  width:60px;
  height:60px;
  overflow: hidden;
  border-radius: 100px;
  margin:0 auto;
}
.floating-button-image-container img{
  border-radius:100px;
  width:100px;
}
.floating-button h5{
  font-size:14px;
  margin-top:10px;
  color:darkred;
}
#floating-left-menu {
  position:fixed;
  text-align:center;
  background-color:white;
  padding:20px;
  border-radius:100px;
  margin-left:30px;
  margin-top:-230px;
  top:50%;
  z-index:9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  display:none;
}
#floating-bottom-menu {
  display:none;
  position:fixed;
  text-align:center;
  background-color:white;
  width:400px;
  padding:20px 40px 20px 40px;
  border-radius:100px;
  margin-bottom:10px;
  margin-left:-200px;
  bottom:0;
  left:50%;
  z-index:9999;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  transform:scale(0.8);
}
.floating-bottom{
  margin-left:5px;
  margin-right:5px;
  float:left;
  margin-bottom:0px;
}

@media (max-width: 1023px) {
  #floating-bottom-menu{
      display:block;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  #floating-left-menu{
      display:block;
      margin-left:-100px;
      border-radius:0px 35px 35px 0px;
  }
}

@media (min-width: 1440px) {
  #floating-left-menu{
      display:block;
      margin-left:30px;
  }
}