/*
Forces carousel image to be 100% width and not max width of 100%
*/
.navbar .nav-item {
  margin: 0.5px 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: left; }

.collapse in {
  background: red !important; }

.carousel-item .img-fluid {
  margin-top: 3.5rem;
  width: 100%;
  height: 100%; }
.carousel-item .img-fluid {
  max-width: 100%;
  height: auto; }
.carousel-item .carousel-caption {
  color: #333; }

/* SIDEBAR HERE*/
/* Profile container */
.profile {
  margin: 20px 0; }

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff; }

.profile-userpic img {
  float: none;
  height: 50%;
  width: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.profile-usertitle {
  text-align: center;
  margin-top: 20px; }

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px; }

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px; }

.profile-userbuttons {
  text-align: center;
  margin-top: 10px; }

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px; }

.profile-userbuttons .btn:last-child {
  margin-right: 0px; }

.profile-usermenu {
  margin-top: 30px; }

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  margin: 0.3rem 0; }

.profile-usermenu ul li:last-child {
  border-bottom: none; }

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400; }

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
  margin: 0 0.8rem; }

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1; }

.profile-usermenu ul li.active {
  border-bottom: none; }

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px; }

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px; }

/* TABLE */
.table {
  font-size: 0.7rem; }
  .table tbody > tr:first-child > td {
    border: none; }

/*# sourceMappingURL=style.css.map */
