$primary-color: #424242;
$secondary-color: #e0e0e0;
$danger-color: red;
$p-light: #6d6d6d;
$p-dark: #1b1b1b;
$s-light: #ffffff;
$s-dark: #aeaeae;

body {
  background: #f5f5f5;
}
/*
Forces carousel image to be 100% width and not max width of 100%
*/
// *{
//   font-family: 'Bebas Neue', cursive;
// }

.navbar {
  // background: rgba($color: #333, $alpha: 1.0) !important;
  .nav-item {
    margin: 0.5px 1rem;
    font-family: "Roboto", sans-serif;
    text-align: left;
  }
}

.collapse in {
  background: red !important;
}

.carousel-item {
  .img-fluid {
    margin-top: 3.5rem;
    width: 100%;
    height: 100%;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .carousel-caption {
    color: #333;
  }
}

/* SIDEBAR HERE*/
/* Profile container */
.profile {
  margin: 1rem 0;
  .border {
    background: #fff;
  }
}

/* Profile sidebar */
.profile-sidebar {
  padding: 2rem 0 1rem 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  height: 50%;
  width: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-usermenu {
  margin-top: 30px;
  font-size: 0.8rem;
  ul li a {
    display: block;
    text-decoration: none;
    // padding: 5px 30px 5px 10px;
    // padding: 0.3rem 0;
    margin: 0.3rem 0;
    color: $primary-color;
  }
  li {
    margin: 0.3rem 0;
  }
  li.active {
    text-decoration: none;
    color: $p-light !important;
    background-color: $secondary-color;
    border-left: 5px solid $p-light;
  }
  li:hover {
    background-color: $secondary-color;
  }
}

.mocash {
  background: #fff;
}

// .profile-usermenu ul li {
//   border-bottom: 1px solid #f0f4f7;
//   margin: 0.3rem 0;
// }

// .profile-usermenu ul li:hover {
//   border-bottom: 1px solid #f0f4f7;
//   margin: 0.3rem 0;
//   background-color: #333;
//   color: #fff;
// }

// .profile-usermenu ul li:last-child {
//   border-bottom: none;
// }

// .profile-usermenu ul li a {
//   color: #333;
//   font-size: 14px;
//   font-weight: 400;
// }

// .profile-usermenu ul li a i {
//   margin-right: 8px;
//   font-size: 14px;
//   margin: 0 0.8rem;
// }

// .profile-usermenu ul li a:hover {
//   text-decoration: none;
// }

// .profile-usermenu ul li.active {
//   border-bottom: none;
//   border-left: 5px solid #5b9bd1;
//   color: #fff;
//   background-color: #333;
// }

// .profile-usermenu ul li.active a {
//   color: #fff;
//   margin-left: -2px;
// }

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 0.5rem;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.body-content {
  body {
    padding: 100px 0;
    background-color: #efefef;
  }
  a,
  a:hover {
    color: #333;
  }
  i {
    cursor: pointer;
  }
}
/* TABLE */
.table-content {
  font-size: 0.7rem;
  tbody > tr:first-child > td {
    border: none;
  }
}

// .table > tbody > tr:first-child > td {
//   font-size: 1rem;
//   border: none;
// }


/* Button Notification */
.icon-button{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  border-radius: 50%;
}
.icon-button__badge{
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} 