<div class="loader">
  <progress id="send" value="20" max="100"></progress>
  <progress id="recv" value="30" max="100"></progress>
  <button class="start-btn" id="btn">start</button>
</div>

<style>
  body {
    --background: #111A23;
    background: var(--background);
}
.loader {
    position: relative;
}
#send {
    --progress-color: greenyellow;
    --rest-color: #5C6A4A;
    --size: 150;
    --width: 10;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 100;
}
#recv {
    position: absolute;
    z-index: 10;
    --progress-color: greenyellow;
    --rest-color: #5C6A4A;
    --size: 200;
    --width: 10;
}
.start-btn {
    position: absolute;
    z-index: 200;
    left: 80px;
    top: 80px;
}
.start-btn, .start-btn.start-btn[disabled] {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
	background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color: #3d94f6;
	border: 2px solid #337fed;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 22px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
	padding: 32px 0;
    text-align: center;
	text-decoration: none;
	text-shadow:0px 1px 0px #854629;
}
.start-btn:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.start-btn:active {
    marging-top: -1px;
}
.start-btn.start-btn[disabled] {
    filter: grayscale(1);
    cursor: not-allowed;
}
progress {
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    border-radius: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    background: transparent;
    margin: 30px 30px;
    float: left;
}
progress:before {
    content: "";
    background: var(--background, white);
    position: absolute;
    z-index: 100;
    /* parenthesis are required */
    width: calc((var(--size) - (var(--width) * 2)) * 1px);
    height: calc((var(--size) - (var(--width) * 2)) * 1px);
    border-radius:50%;
    margin: auto auto;
}
progress::-moz-progress-value { background: transparent; }
progress::-webkit-progress-value { background: transparent; }
/* GENERATED IN JS BY
[...new Array(100)].map((_, i) => `progress[value="${i}"]::-webkit-progress-bar { background: conic-gradient(var(--color) 0% ${i}%, var(--background) ${i}% 100%); }`).join('\n')
*/
progress[value="0"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 0%, var(--rest-color) 0% 100%); }
progress[value="1"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 1%, var(--rest-color) 1% 100%); }
progress[value="2"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 2%, var(--rest-color) 2% 100%); }
progress[value="3"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 3%, var(--rest-color) 3% 100%); }
progress[value="4"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 4%, var(--rest-color) 4% 100%); }
progress[value="5"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 5%, var(--rest-color) 5% 100%); }
progress[value="6"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 6%, var(--rest-color) 6% 100%); }
progress[value="7"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 7%, var(--rest-color) 7% 100%); }
progress[value="8"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 8%, var(--rest-color) 8% 100%); }
progress[value="9"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 9%, var(--rest-color) 9% 100%); }
progress[value="10"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 10%, var(--rest-color) 10% 100%); }
progress[value="11"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 11%, var(--rest-color) 11% 100%); }
progress[value="12"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 12%, var(--rest-color) 12% 100%); }
progress[value="13"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 13%, var(--rest-color) 13% 100%); }
progress[value="14"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 14%, var(--rest-color) 14% 100%); }
progress[value="15"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 15%, var(--rest-color) 15% 100%); }
progress[value="16"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 16%, var(--rest-color) 16% 100%); }
progress[value="17"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 17%, var(--rest-color) 17% 100%); }
progress[value="18"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 18%, var(--rest-color) 18% 100%); }
progress[value="19"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 19%, var(--rest-color) 19% 100%); }
progress[value="20"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 20%, var(--rest-color) 20% 100%); }
progress[value="21"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 21%, var(--rest-color) 21% 100%); }
progress[value="22"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 22%, var(--rest-color) 22% 100%); }
progress[value="23"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 23%, var(--rest-color) 23% 100%); }
progress[value="24"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 24%, var(--rest-color) 24% 100%); }
progress[value="25"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 25%, var(--rest-color) 25% 100%); }
progress[value="26"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 26%, var(--rest-color) 26% 100%); }
progress[value="27"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 27%, var(--rest-color) 27% 100%); }
progress[value="28"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 28%, var(--rest-color) 28% 100%); }
progress[value="29"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 29%, var(--rest-color) 29% 100%); }
progress[value="30"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 30%, var(--rest-color) 30% 100%); }
progress[value="31"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 31%, var(--rest-color) 31% 100%); }
progress[value="32"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 32%, var(--rest-color) 32% 100%); }
progress[value="33"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 33%, var(--rest-color) 33% 100%); }
progress[value="34"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 34%, var(--rest-color) 34% 100%); }
progress[value="35"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 35%, var(--rest-color) 35% 100%); }
progress[value="36"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 36%, var(--rest-color) 36% 100%); }
progress[value="37"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 37%, var(--rest-color) 37% 100%); }
progress[value="38"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 38%, var(--rest-color) 38% 100%); }
progress[value="39"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 39%, var(--rest-color) 39% 100%); }
progress[value="40"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 40%, var(--rest-color) 40% 100%); }
progress[value="41"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 41%, var(--rest-color) 41% 100%); }
progress[value="42"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 42%, var(--rest-color) 42% 100%); }
progress[value="43"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 43%, var(--rest-color) 43% 100%); }
progress[value="44"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 44%, var(--rest-color) 44% 100%); }
progress[value="45"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 45%, var(--rest-color) 45% 100%); }
progress[value="46"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 46%, var(--rest-color) 46% 100%); }
progress[value="47"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 47%, var(--rest-color) 47% 100%); }
progress[value="48"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 48%, var(--rest-color) 48% 100%); }
progress[value="49"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 49%, var(--rest-color) 49% 100%); }
progress[value="50"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 50%, var(--rest-color) 50% 100%); }
progress[value="51"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 51%, var(--rest-color) 51% 100%); }
progress[value="52"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 52%, var(--rest-color) 52% 100%); }
progress[value="53"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 53%, var(--rest-color) 53% 100%); }
progress[value="54"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 54%, var(--rest-color) 54% 100%); }
progress[value="55"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 55%, var(--rest-color) 55% 100%); }
progress[value="56"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 56%, var(--rest-color) 56% 100%); }
progress[value="57"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 57%, var(--rest-color) 57% 100%); }
progress[value="58"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 58%, var(--rest-color) 58% 100%); }
progress[value="59"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 59%, var(--rest-color) 59% 100%); }
progress[value="60"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 60%, var(--rest-color) 60% 100%); }
progress[value="61"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 61%, var(--rest-color) 61% 100%); }
progress[value="62"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 62%, var(--rest-color) 62% 100%); }
progress[value="63"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 63%, var(--rest-color) 63% 100%); }
progress[value="64"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 64%, var(--rest-color) 64% 100%); }
progress[value="65"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 65%, var(--rest-color) 65% 100%); }
progress[value="66"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 66%, var(--rest-color) 66% 100%); }
progress[value="67"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 67%, var(--rest-color) 67% 100%); }
progress[value="68"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 68%, var(--rest-color) 68% 100%); }
progress[value="69"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 69%, var(--rest-color) 69% 100%); }
progress[value="70"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 70%, var(--rest-color) 70% 100%); }
progress[value="71"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 71%, var(--rest-color) 71% 100%); }
progress[value="72"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 72%, var(--rest-color) 72% 100%); }
progress[value="73"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 73%, var(--rest-color) 73% 100%); }
progress[value="74"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 74%, var(--rest-color) 74% 100%); }
progress[value="75"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 75%, var(--rest-color) 75% 100%); }
progress[value="76"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 76%, var(--rest-color) 76% 100%); }
progress[value="77"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 77%, var(--rest-color) 77% 100%); }
progress[value="78"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 78%, var(--rest-color) 78% 100%); }
progress[value="79"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 79%, var(--rest-color) 79% 100%); }
progress[value="80"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 80%, var(--rest-color) 80% 100%); }
progress[value="81"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 81%, var(--rest-color) 81% 100%); }
progress[value="82"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 82%, var(--rest-color) 82% 100%); }
progress[value="83"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 83%, var(--rest-color) 83% 100%); }
progress[value="84"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 84%, var(--rest-color) 84% 100%); }
progress[value="85"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 85%, var(--rest-color) 85% 100%); }
progress[value="86"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 86%, var(--rest-color) 86% 100%); }
progress[value="87"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 87%, var(--rest-color) 87% 100%); }
progress[value="88"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 88%, var(--rest-color) 88% 100%); }
progress[value="89"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 89%, var(--rest-color) 89% 100%); }
progress[value="90"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 90%, var(--rest-color) 90% 100%); }
progress[value="91"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 91%, var(--rest-color) 91% 100%); }
progress[value="92"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 92%, var(--rest-color) 92% 100%); }
progress[value="93"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 93%, var(--rest-color) 93% 100%); }
progress[value="94"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 94%, var(--rest-color) 94% 100%); }
progress[value="95"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 95%, var(--rest-color) 95% 100%); }
progress[value="96"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 96%, var(--rest-color) 96% 100%); }
progress[value="97"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 97%, var(--rest-color) 97% 100%); }
progress[value="98"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 98%, var(--rest-color) 98% 100%); }
progress[value="99"]::-webkit-progress-bar { background: conic-gradient(var(--progress-color) 0% 99%, var(--rest-color) 99% 100%); }
progress[value="100"]::-webkit-progress-bar { background: var(--progress-color); }
progress[value="0"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 0%, var(--rest-color) 0% 100%); }
progress[value="1"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 1%, var(--rest-color) 1% 100%); }
progress[value="2"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 2%, var(--rest-color) 2% 100%); }
progress[value="3"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 3%, var(--rest-color) 3% 100%); }
progress[value="4"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 4%, var(--rest-color) 4% 100%); }
progress[value="5"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 5%, var(--rest-color) 5% 100%); }
progress[value="6"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 6%, var(--rest-color) 6% 100%); }
progress[value="7"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 7%, var(--rest-color) 7% 100%); }
progress[value="8"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 8%, var(--rest-color) 8% 100%); }
progress[value="9"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 9%, var(--rest-color) 9% 100%); }
progress[value="10"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 10%, var(--rest-color) 10% 100%); }
progress[value="11"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 11%, var(--rest-color) 11% 100%); }
progress[value="12"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 12%, var(--rest-color) 12% 100%); }
progress[value="13"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 13%, var(--rest-color) 13% 100%); }
progress[value="14"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 14%, var(--rest-color) 14% 100%); }
progress[value="15"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 15%, var(--rest-color) 15% 100%); }
progress[value="16"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 16%, var(--rest-color) 16% 100%); }
progress[value="17"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 17%, var(--rest-color) 17% 100%); }
progress[value="18"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 18%, var(--rest-color) 18% 100%); }
progress[value="19"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 19%, var(--rest-color) 19% 100%); }
progress[value="20"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 20%, var(--rest-color) 20% 100%); }
progress[value="21"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 21%, var(--rest-color) 21% 100%); }
progress[value="22"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 22%, var(--rest-color) 22% 100%); }
progress[value="23"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 23%, var(--rest-color) 23% 100%); }
progress[value="24"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 24%, var(--rest-color) 24% 100%); }
progress[value="25"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 25%, var(--rest-color) 25% 100%); }
progress[value="26"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 26%, var(--rest-color) 26% 100%); }
progress[value="27"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 27%, var(--rest-color) 27% 100%); }
progress[value="28"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 28%, var(--rest-color) 28% 100%); }
progress[value="29"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 29%, var(--rest-color) 29% 100%); }
progress[value="30"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 30%, var(--rest-color) 30% 100%); }
progress[value="31"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 31%, var(--rest-color) 31% 100%); }
progress[value="32"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 32%, var(--rest-color) 32% 100%); }
progress[value="33"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 33%, var(--rest-color) 33% 100%); }
progress[value="34"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 34%, var(--rest-color) 34% 100%); }
progress[value="35"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 35%, var(--rest-color) 35% 100%); }
progress[value="36"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 36%, var(--rest-color) 36% 100%); }
progress[value="37"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 37%, var(--rest-color) 37% 100%); }
progress[value="38"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 38%, var(--rest-color) 38% 100%); }
progress[value="39"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 39%, var(--rest-color) 39% 100%); }
progress[value="40"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 40%, var(--rest-color) 40% 100%); }
progress[value="41"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 41%, var(--rest-color) 41% 100%); }
progress[value="42"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 42%, var(--rest-color) 42% 100%); }
progress[value="43"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 43%, var(--rest-color) 43% 100%); }
progress[value="44"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 44%, var(--rest-color) 44% 100%); }
progress[value="45"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 45%, var(--rest-color) 45% 100%); }
progress[value="46"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 46%, var(--rest-color) 46% 100%); }
progress[value="47"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 47%, var(--rest-color) 47% 100%); }
progress[value="48"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 48%, var(--rest-color) 48% 100%); }
progress[value="49"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 49%, var(--rest-color) 49% 100%); }
progress[value="50"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 50%, var(--rest-color) 50% 100%); }
progress[value="51"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 51%, var(--rest-color) 51% 100%); }
progress[value="52"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 52%, var(--rest-color) 52% 100%); }
progress[value="53"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 53%, var(--rest-color) 53% 100%); }
progress[value="54"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 54%, var(--rest-color) 54% 100%); }
progress[value="55"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 55%, var(--rest-color) 55% 100%); }
progress[value="56"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 56%, var(--rest-color) 56% 100%); }
progress[value="57"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 57%, var(--rest-color) 57% 100%); }
progress[value="58"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 58%, var(--rest-color) 58% 100%); }
progress[value="59"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 59%, var(--rest-color) 59% 100%); }
progress[value="60"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 60%, var(--rest-color) 60% 100%); }
progress[value="61"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 61%, var(--rest-color) 61% 100%); }
progress[value="62"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 62%, var(--rest-color) 62% 100%); }
progress[value="63"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 63%, var(--rest-color) 63% 100%); }
progress[value="64"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 64%, var(--rest-color) 64% 100%); }
progress[value="65"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 65%, var(--rest-color) 65% 100%); }
progress[value="66"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 66%, var(--rest-color) 66% 100%); }
progress[value="67"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 67%, var(--rest-color) 67% 100%); }
progress[value="68"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 68%, var(--rest-color) 68% 100%); }
progress[value="69"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 69%, var(--rest-color) 69% 100%); }
progress[value="70"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 70%, var(--rest-color) 70% 100%); }
progress[value="71"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 71%, var(--rest-color) 71% 100%); }
progress[value="72"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 72%, var(--rest-color) 72% 100%); }
progress[value="73"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 73%, var(--rest-color) 73% 100%); }
progress[value="74"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 74%, var(--rest-color) 74% 100%); }
progress[value="75"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 75%, var(--rest-color) 75% 100%); }
progress[value="76"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 76%, var(--rest-color) 76% 100%); }
progress[value="77"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 77%, var(--rest-color) 77% 100%); }
progress[value="78"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 78%, var(--rest-color) 78% 100%); }
progress[value="79"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 79%, var(--rest-color) 79% 100%); }
progress[value="80"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 80%, var(--rest-color) 80% 100%); }
progress[value="81"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 81%, var(--rest-color) 81% 100%); }
progress[value="82"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 82%, var(--rest-color) 82% 100%); }
progress[value="83"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 83%, var(--rest-color) 83% 100%); }
progress[value="84"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 84%, var(--rest-color) 84% 100%); }
progress[value="85"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 85%, var(--rest-color) 85% 100%); }
progress[value="86"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 86%, var(--rest-color) 86% 100%); }
progress[value="87"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 87%, var(--rest-color) 87% 100%); }
progress[value="88"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 88%, var(--rest-color) 88% 100%); }
progress[value="89"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 89%, var(--rest-color) 89% 100%); }
progress[value="90"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 90%, var(--rest-color) 90% 100%); }
progress[value="91"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 91%, var(--rest-color) 91% 100%); }
progress[value="92"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 92%, var(--rest-color) 92% 100%); }
progress[value="93"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 93%, var(--rest-color) 93% 100%); }
progress[value="94"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 94%, var(--rest-color) 94% 100%); }
progress[value="95"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 95%, var(--rest-color) 95% 100%); }
progress[value="96"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 96%, var(--rest-color) 96% 100%); }
progress[value="97"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 97%, var(--rest-color) 97% 100%); }
progress[value="98"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 98%, var(--rest-color) 98% 100%); }
progress[value="99"]::-moz-progress-bar { background: conic-gradient(var(--progress-color) 0% 99%, var(--rest-color) 99% 100%); }
progress[value="100"]::-moz-progress-bar { background : var(--progress-color); }


</style>

<script>
  btn.addEventListener('click', function() {
    send.value = recv.value = 0;
    btn.disabled = true;
    animate(send).then(() => animate(recv)).then(() => {
        btn.disabled = false;
    })
});

function animate(node) {
    return new Promise(function(resolve) {
        var i = 0;
        (function loop() {
            node.value = i;
            if (i < 100) {
                i++;
                requestAnimationFrame(loop);
            } else {
                resolve();
            }
        })();
    });
}
</script>